.idea
.project
.gradle
.classpath
bin
out
.DS_Store
**/build/
!src/**/build/

# Ignore Gradle files
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Ignore logs
logs
2023*/**
jmeter.log